body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f8ff;
    color: #333;
}

h2 {
    font-size: 2em;
    color: #6a5acd;
}

input, button {
    font-size: 1em;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

button {
    background-color: #32cd32;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #228b22;
}

#result {
    font-size: 2em;
    margin-top: 20px;
}

/* General fitting for all the elements in the container*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Indicator symbol */
.indicator_1{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 10px;
}
